{{define "desktop"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "head" .}}
    </head>
    <body class="w-full flex flex-col min-h-screen
    bg-cover bg-center bg-no-repeat" style="background-image: url('/static/background.jpg');">
        <div id="menu"
        class="px-4 opacity-70 flex flex-row justify-between bg-black text-white text-sm items-center">
            <div class="flex flex-row gap-8 items-center">
                <p class="p-1 hover:bg-[rgb(40,40,40)] duration-300">Mainframe</p>

                <div id="app-menu" class="flex flex-row gap-2 text-black"></div>
            </div>

            <div class="flex flex-row gap-2 items-center text-right">
                <p id="menu-date">2027/04/16</p>
                <p id="menu-clock">15:32:31</p>
            </div>

            <script src="/static/menu.js"></script>
        </div>

        <div class="flex flex-col flex-1">
            <div id="desktop" class="p-2 w-full flex-1 bg-transparent">
                <p class="text-white">Test</p>
            </div>

            <div id="taskbar" class="opacity-70 flex flex-col gap-2 h-12 bg-black">
                <p>TEST</p>
            </div>
        </div>
        
        <script src="/static/desktop.js"></script>
    </body>
</html>
{{end}}